*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
}

.wrapper .m-50-top{
    margin-top: 50px;
}

/* Initial search page  */

.wrapper #home-page{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8) url(../images/wallpaper.jpg) no-repeat center;
    background-blend-mode: darken;
}

.search-name{
    height: 50px;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    border-radius:5px;
    width: 200px;
    font-size: 1.3rem;
}

#home-page .search-name-main{
    width: 300px;
}

.search-name:focus{
    outline: none;
    border: 5px #FFBD44 solid;
}

.wrapper .btn{
    background-color: #FFBD44;
    color: black;
    height: 50px;
    width: 50px;
    display: flex;
    font-size: 1.5rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper .btn:hover{
    background-color: black;
    color: #FFBD44;
}

/* Page after search */

#result-page{
    display: none;
    min-height: 100vh;
    flex-direction: column;
    color: white;
}

#result-page .search-bar{
    padding: 5px;
    display: flex;
    justify-content: right;
}

.search-list{
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: rgb(25, 25, 25);
    width: 250px;
    margin-right: 5px;
    border-radius: 10px;
    align-self: end;
    box-shadow: 0 0 2px black;
}

.wrapper .list-box{
    margin: 5px;
    display: grid;
    width: 90%;
    grid-template-columns: 0.2fr 1fr;
    cursor: pointer;
}

.list-image{
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.list-hero-name{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.search-query{
    margin: 40px;
    text-align: center;
}

.query-text{
    color: #FFBD44;
}

.result-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.image{
    height: 300px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
}

.wrapper .grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-name{
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.hero-name:hover{
    color: #FFBD44;
}

.power-level{
    height: 210px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.grid-item .power-attrib{
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.3fr;
    margin-top: 10px;
}

.power-attrib .progress{
    margin-right: 5px;
    border-radius: 10px;
    height: 10px;
    background-color: #FFBD44;
}

.power-attrib .attrib-value{
    display: flex;
    align-items: center;
}

.wrapper .return-btn{
    display: none;
    width: 100px;
    font-size: 1.2rem;
}

/* Hero display page */

.loading{
    margin-bottom: 3%;
}

#hero-display .main-container{
    margin: 2%;
    min-height: 100vh;
    display: none;
    grid-template-columns: 0.5fr 1fr;
    justify-items: center;
    column-gap: 2%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container img{
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 3%;
}

.left-container{
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 60vh;
    position: sticky;
    top: 20%;
    color: white;
    bottom: 50%;
    border-radius: 10px;
}

.right-container{
    background-color: rgb(25, 25, 25);
    width: 100%;
    min-height: 50vh;
    display: flex;
    padding-bottom: 50px;
    border-radius: 10px;
    padding-right: 4%;
    text-align: justify;
}

.feature-heading{
    color: white;
}

.feature-heading::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #FFBD44;
    display: block;
    border-radius: 10px;
}

.main-container .detailed-attrib{
    color: #FFBD44;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature{
    color: white;
}

.fa-circle-left{
    color: white;
    position: absolute;
    font-size: 4rem;
    left: 3%;
    top: -25%;
    cursor: pointer;
}

.fa-circle-left:hover{
    color: #FFBD44;
}

/* Responsive */
@media only screen and (max-width: 1300px){
    .result-grid{
        grid-template-columns: 1fr 1fr;
    }
    #hero-display .main-container{
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .left-container{
        top: 0;
        position: relative;
    }
    .fa-circle-left{
        color: white;
        position: absolute;
        font-size: 4rem;
        left: 3%;
        top: 2%;
    }
}

@media only screen and (max-width: 870px){
    *{
        font-size: 0.9rem;
    }
    .result-grid{
        grid-template-columns: 1fr;
    }
}